@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,600&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  color: #1E1E1E;
  background-color: #F6F6F6;
}

body {
  flex-grow: 1;
  margin: 0;
  padding: 1rem 1rem .5rem 1rem;
  width: 100%;
  max-width: 80rem;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

main {
  flex-grow: 1;
  width: 100%;
  margin: .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid;
}

img {
  width: 80vw;
  max-width: 30rem;
  object-fit: cover;
  margin: 1rem 0;

  background-origin: content-box;
  object-fit: cover;
  background-image: url(/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

article {
  display: flex;
  align-items: center;
  padding: 0;
}

a button {
  background-color: transparent;
  border: none;
  padding: 0;
}

h1,
p,
q,
cite,
small,
a,
button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  font-family: 'Crimson Text', serif;

  text-rendering: optimizeLegibility;
  font-kerning: normal;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-style: normal;
  text-decoration: none;

  color: #1E1E1E;
}

h1 {
  font-size: 5.5rem;
  font-weight: 600;
  margin-top: 2rem;
  line-height: 1;
}

q {
  font-style: italic;
  font-weight: 400;
}

cite {
  font-size: .75rem;
}

a button {
  font-weight: 600;
  font-size: 1rem;
  padding-left: .5rem;
}

a button:hover {
  color: green;
  cursor: pointer;
}

::selection {
  background: #E6FB04;
}

@media all and (max-width: 62rem){
  h1 {
    font-size: 8.85vw;
    white-space: nowrap;
  }
}

@media all and (max-width: 37rem){

  body {
    padding-bottom: 0;
  }

  main {
    border-top: 1px solid;
    margin-bottom: 0;
  }

  h1 {
    margin: 0rem 0 .45rem 0;
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  footer {
    min-height: 3.5rem;
  }

  cite {
    display: none;
  }

  a button {
    border: 1px solid;
    padding: .25rem 1rem;
  }
}

@media (prefers-color-scheme: dark) { }
